/*
# Carousel
## Carousel

    <div class="c-carouselContainer">
        <ul class="c-carouselLists">
            <li class="c-carouselList">
                <span class="c-carouselList__rnk">
                    <span class="c-carouselList__rnkNum">1</span>
                    <span class="c-carouselList__rnkPos">???</span>
                </span>
                <a href="#" class="c-carouselLink">
                    <span class="c-carouselThumb"><img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=IMG&w=400&h=400" alt="" width="100" height="100"></span>
                    <span class="c-carouselName">????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT</span>
                    <span class="c-carouselPrice">2,999???</span>
                </a>
            </li>
            <li class="c-carouselList">
                <span class="c-carouselList__rnk">
                    <span class="c-carouselList__rnkNum">2</span>
                    <span class="c-carouselList__rnkPos">???</span>
                </span>
                <a href="#" class="c-carouselLink">
                    <span class="c-carouselThumb"><img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=IMG&w=400&h=400" alt="" width="100" height="100"></span>
                    <span class="c-carouselName">????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT</span>
                    <span class="c-carouselPrice">2,999???</span>
                </a>
            </li>
            <li class="c-carouselList">
                <span class="c-carouselList__rnk">
                    <span class="c-carouselList__rnkNum">3</span>
                    <span class="c-carouselList__rnkPos">???</span>
                </span>
                <a href="#" class="c-carouselLink">
                    <span class="c-carouselThumb"><img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=IMG&w=400&h=400" alt="" width="100" height="100"></span>
                    <span class="c-carouselName">????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT</span>
                    <span class="c-carouselPrice">2,999???</span>
                </a>
            </li>
            <li class="c-carouselList">
                <span class="c-carouselList__rnk">
                    <span class="c-carouselList__rnkNum">4</span>
                    <span class="c-carouselList__rnkPos">???</span>
                </span>
                <a href="#" class="c-carouselLink">
                    <span class="c-carouselThumb"><img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=IMG&w=400&h=400" alt="" width="100" height="100"></span>
                    <span class="c-carouselName">????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT</span>
                    <span class="c-carouselPrice">2,999???</span>
                </a>
            </li>
            <li class="c-carouselList">
                <span class="c-carouselList__rnk">
                    <span class="c-carouselList__rnkNum">5</span>
                    <span class="c-carouselList__rnkPos">???</span>
                </span>
                <a href="#" class="c-carouselLink">
                    <span class="c-carouselThumb"><img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=IMG&w=400&h=400" alt="" width="100" height="100"></span>
                    <span class="c-carouselName">????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT</span>
                    <span class="c-carouselPrice">2,999???</span>
                </a>
            </li>
            <li class="c-carouselList">
                <span class="c-carouselList__rnk">
                    <span class="c-carouselList__rnkNum">6</span>
                    <span class="c-carouselList__rnkPos">???</span>
                </span>
                <a href="#" class="c-carouselLink">
                    <span class="c-carouselThumb"><img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=IMG&w=400&h=400" alt="" width="100" height="100"></span>
                    <span class="c-carouselName">????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT</span>
                    <span class="c-carouselPrice">2,999???</span>
                </a>
            </li>
            <li class="c-carouselList">
                <span class="c-carouselList__rnk">
                    <span class="c-carouselList__rnkNum">7</span>
                    <span class="c-carouselList__rnkPos">???</span>
                </span>
                <a href="#" class="c-carouselLink">
                    <span class="c-carouselThumb"><img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=IMG&w=400&h=400" alt="" width="100" height="100"></span>
                    <span class="c-carouselName">????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT</span>
                    <span class="c-carouselPrice">2,999???</span>
                </a>
            </li>
            <li class="c-carouselList">
                <span class="c-carouselList__rnk">
                    <span class="c-carouselList__rnkNum">8</span>
                    <span class="c-carouselList__rnkPos">???</span>
                </span>
                <a href="#" class="c-carouselLink">
                    <span class="c-carouselThumb"><img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=IMG&w=400&h=400" alt="" width="100" height="100"></span>
                    <span class="c-carouselName">????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT</span>
                    <span class="c-carouselPrice">2,999???</span>
                </a>
            </li>
            <li class="c-carouselList">
                <span class="c-carouselList__rnk">
                    <span class="c-carouselList__rnkNum">9</span>
                    <span class="c-carouselList__rnkPos">???</span>
                </span>
                <a href="#" class="c-carouselLink">
                    <span class="c-carouselThumb"><img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=IMG&w=400&h=400" alt="" width="100" height="100"></span>
                    <span class="c-carouselName">????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT</span>
                    <span class="c-carouselPrice">2,999???</span>
                </a>
            </li>
            <li class="c-carouselList">
                <span class="c-carouselList__rnk">
                    <span class="c-carouselList__rnkNum">10</span>
                    <span class="c-carouselList__rnkPos">???</span>
                </span>
                <a href="#" class="c-carouselLink">
                    <span class="c-carouselThumb"><img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=IMG&w=400&h=400" alt="" width="100" height="100"></span>
                    <span class="c-carouselName">????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT????????????????????????TEXT</span>
                    <span class="c-carouselPrice">2,999???</span>
                </a>
            </li>
        </ul>
    </div>
*/


.c-carouselContainer {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.c-carouselLists {
    display: flex;
    flex-shrink: 0;
    flex: 1 0 0%;
    padding-bottom: 5px;
    align-items: stretch;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    &:before {
        content: '';
        display: block;
        border: 4px solid transparent;
    }
    &:after {
        content: '';
        display: block;
        border: 4px solid transparent;
    }
}

.c-carouselList {
    padding: 10px 0 10px 0;
    background: #fff;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    width: 108px;
    min-width: 108px;
    position: relative;
    &:first-child {
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        padding-left: 4px;
        &:before {
            display: none;
        }
    }
    &:last-child {
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        padding-right: 4px;
    }
}

.c-carouselList:before {
  content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2px;
 width: 5px;
    background: #fff;
}

.c-carouselList__rnk {
    display: inline-block;
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
}

.c-carouselList__rnkNum {
    font-size: 20px;
    font-weight: bold;
    color: #bf0000;
}

.c-carouselList__rnkPos {
    font-size: 14px;
    font-weight: bold;
    color: #bf0000;
}

.c-carouselLink {
    width: 100px;
    display: block;
    margin: 0 auto;
    text-align: left;
}

.c-carouselName {
    color: #000000;
    font-size: 12px;
    display: inline-block;
    line-height: 1.3;
    overflow: hidden;
    height: 30px;
}

.c-carouselPrice {
    color: #bf0000;
    font-size: 12px;
    font-weight: normal;
    padding-top: 3px;
}
